.tax-dashboard{
  .step-wrapper {
    overflow: hidden;

    .step-item {
      position: relative;
      width: 60px;
      line-height: 1.5;
      text-align: center;
      border-radius: 30px;
      border: 1px solid #444444;
      height: 60px;
      float: left;
      margin-right:15px;
      h1{
        padding-top: 7px;
      }
    }
  }
}
