$primary-color: #6FB29A;
$lighter-grey: #F5F5F5;
$light-grey: #E5E5E5;
$grey-1: #878787;
$grey-2: #666666;
$grey-3: #555555;
$grey-4: #444444;
$grey-5: #333333;

//background colors
$background-color: $lighter-grey;
$sidebar-color: #394143;

//text colors
$heading-color: $grey-5;
$text-color: $grey-5;

//spacing
$s-xs: 5px;
$s-s: 10px;
$s-m: 15px;
$s-l: 30px;
$s-xl: 60px;
