
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;

  &::-ms-expand {
    display: none;
  }
}

.select-wrapper {
  position: relative;
  display: block;
  line-height: 3;
  overflow: hidden;
  border-radius:0;
  border:1px solid #e1e6ef;

  &:after{
    content: '\e000';
    font-family: 'codeanker-icons-20171026';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }

  &:hover{
    &:after{
      color: $primary;
    }
  }
}
